/Matchmaking/Debug
/Matchmaking/Release
/Matchmaking/ipch
/Matchmaking/*.vcxproj.user
/Matchmaking/*.db
/Matchmaking/*.opendb
/Matchmaking/.vs
/Matchmaking_0/Debug
/Matchmaking_0/Release
/Matchmaking_0/ipch
/Matchmaking_0/*.vcxproj.user
/Matchmaking_0/*.db
/Matchmaking_0/*.opendb
/Matchmaking_0/.vs
